<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<!-- We're going to use this file to provide a config for logback -->

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
<!--    Adding import-->
    <import class="ch.qos.logback.core.FileAppender"/>
<!--    THIS IS OPTIONAL WE"LL ADD IN A FILTER FOR JUST WARNINGS-->
    <import class="ch.qos.logback.classic.filter.LevelFilter" />

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

<!--    We need to include a File Appender if we want to write our logs to a file-->
    <appender name="FILE" class="FileAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
        <file>log.txt</file>
        <append>true</append>
<!--        Adding optional filter below-->
<!--        <filter class="LevelFilter">-->
<!--            <level>WARN</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
<!--        Need to register the file appender-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>